process {
  cpus = { check_max( 2 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }

  maxRetries = 3
  maxErrors = '-1'

  errorStrategy = 'retry' 
  
  // Process-specific resource requirements
  withName: REGENIE_STEP_1 {    
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    cpus = 16
    time = { check_max( 10.h * task.attempt, 'time' ) }
  }
  withName: REGENIE_STEP_2 {
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    cpus = 16
    time = { check_max( 48.h * task.attempt, 'time')}
  }
  withName: REGION_FILTER {
    memory = { check_max( 25.GB * task.attempt, 'memory' ) }
    cpus = 2
    time = { check_max( 30.m * task.attempt, 'time')}
  }
  withName: LD_MATRIX_CALCULATOR {
    errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
    memory = { check_max( 250.GB * task.attempt, 'memory' ) }
    cpus = 4
    time = { check_max( 10.h * task.attempt, 'time' ) }
  }
  withName: SUSIER {
    memory = { check_max( 64.GB * task.attempt, 'memory' ) }
    cpus = 2
    time = { check_max( 10.h * task.attempt, 'time' ) }
  }
  withName: DATA_COMBINER {
    memory = { check_max( 64.GB * task.attempt, 'memory' ) }
    cpus = 4
    time = { check_max( 20.m * task.attempt, 'time' ) }
  }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 120.h
}
